@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Prosares.Wow.Data.Entities.EmployeeMasterEntity
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<style>
    form span{
        margin-left: -30px;
        cursor:pointer;
    }


    .pass_show{position: relative} 

.pass_show .ptxt { 

    position: absolute; 
    top: 50%; 
    right: 20px; 
    z-index: 1; 
    margin-top: -10px; 
    cursor: pointer; 
    transition: .3s ease all; 
} 

.ptxt-2{
    position: absolute; 
    top: 7%; 
    right: 20px; 
    z-index: 1; 
    margin-top: -10px; 
    cursor: pointer; 
    transition: .3s ease all; 
}


.pass_show .ptxt:hover{color: #333333;} 

label {
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>

<div class="alert alert-success alert-dismissible fade show" id="passreset" role="alert">
    Password reset successfully!
    <span type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </span>
</div>


<div class="main">
    <div class="container">
	    <div class="row">
		    <div class="col-sm-4">

                <div class="form-group">
                    <label asp-for="LoginId" class="control-label" hidden></label>
                    <input asp-for="LoginId" class="form-control" hidden id="email" />
                </div>

		        <label>New Password</label>
                <div class="form-group pass_show"> 
                      <span> <i class="fa fa-eye-slash ptxt" id="showPass_2"   aria-hidden="true"></i></span>
                      <input type="password" id="Password" class="form-control" placeholder="Password"> 
                </div> 

		        <label>Confirm Password</label>
                <div class="form-group pass_show"> 
                    <span> <i class="fa fa-eye-slash ptxt" id="showPass_3"   aria-hidden="true"></i></span>
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password"> 
                </div>
                

                <div  class="form-group">
                    <button id="submit" class="btn btn-primary" type="button">Reset Password</button>
                </div>

                <div class="form-group">
                     <span id="duplicate_pass"  class="text-danger" style="display:none">Password and confirm doesnot match.</span>
                     <span id="empty_pass"  class="text-danger" style="display:none">Password or confirm passwordcannot be empty.</span>
                     <span id="min_pass"  class="text-danger" style="display:none">Minimum 8 charachters required.</span>
                </div>
		    </div>  
	    </div>
    </div>

</div>



<script>

    $(document).ready(() => {
        $("#passreset").hide();
        $("#min_pass").hide();
        $("#empty_pass").hide();
        $("#duplicate_pass").hide();


        $("#showPass_2").click(() => {
            let type = $("#Password").attr('type');
            if (type == 'password') {
                $('#Password').attr('type', 'text');
                $('#showPass_1').removeClass('fa fa-eye-slash ptxt');
                $("#showPass_1").addClass('fa fa-eye  ptxt-2')
            } else {
                $('#Password').attr('type', 'password');
                $("#showPass_1").removeClass('fa fa-eye  ptxt-2')
                $('#showPass_1').addClass('fa fa-eye-slash ptxt');
            }
        });
    
    
    
        $("#showPass_3").click(() => {
            let type = $("#ConfirmPassword").attr('type');
            if (type == 'password') {
                $('#ConfirmPassword').attr('type', 'text');
                $('#showPass_1').removeClass('fa fa-eye-slash ptxt');
                $("#showPass_1").addClass('fa fa-eye  ptxt-2')
            } else {
                $('#ConfirmPassword').attr('type', 'password');
                $("#showPass_1").removeClass('fa fa-eye  ptxt-2')
                $('#showPass_1').addClass('fa fa-eye-slash ptxt');
            }
        });

    });




     $(document).on('keyup','#ConfirmPassword , #Password', ()=>{
            $("#empty_pass").hide();
            $("#duplicate_pass").hide();
            $("#min_pass").hide();
     })


    $(".close").click(() => {
        $("#passreset").hide();
    })

    $("#submit").click(() => {
      
        let LoginId = $("#email").val();
        let Password = $("#Password").val();
        let ConfirmPassword = $("#ConfirmPassword").val();

         
        
        

        console.log(Password, Password.trim(), Password.replace(/\s/g, ''))
        let data = { LoginId: LoginId, Password: Password };

        if (Password.length == 0 || Password == null) {
            $("#empty_pass").show();
            return;
        }

        if (Password.length < 9) {
            $("#min_pass").show();
            return;
        }

        if (Password != ConfirmPassword) {
           $("#duplicate_pass").show();
            return;
        }

        $.ajax({
            type: 'POST',
            url: "/ResetPassword/ForgetPassword",
            data: data,
            dataType: "text",
            success: function (data) {
                console.log(data);
                if (data == true || data == 'true') {
                    $("#passreset").show();
                    setTimeout(function () {
                        $("#passreset").hide();
                    }, 5000);
                }
                else {
                    $("#passreset").hide();

                }
            }

        })
    })
</script>