@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Prosares.Wow.Data.Entities.EmployeeMasterEntity


<style>
    form span{
        margin-left: -30px;
        cursor:pointer;
    }


    .pass_show{position: relative} 

    .pass_show .ptxt { 

        position: absolute; 
        top: 50%; 
        right: 20px; 
        z-index: 1; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    } 

    .ptxt-2{
        position: absolute; 
        top: 7%; 
        right: 20px; 
        z-index: 1; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    }


    .pass_show .ptxt:hover{color: #333333;} 

    label {
        color: white;
    }

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #notif, #notif_err {
        position: absolute;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        top: 100px;
    }

    
</style>



<div class="d-flex justify-content-center align-items-center my-4 position-relative">
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="notif">
        <i class="fa fa-check-circle" style="font-size:22px;color:green"></i>
        <span> Password reset succesfully</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="notif_err">
        <i class="fa fa-times-circle-o" style="font-size:22px;color:red"></i>
        <span> Something went wrong!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<div class="main">
    <div class="container">
	    <div class="row">
		    <div class="col-sm-4">

                <div class="form-group">
                    <label asp-for="LoginId" class="control-label" hidden></label>
                    <input asp-for="LoginId" class="form-control" hidden id="email" />
                </div>

		        <label>New Password</label>
                <div class="form-group pass_show"> 
                      <span> <i class="fa fa-eye-slash ptxt" id="showPass_2"   aria-hidden="true"></i></span>
                      <input type="password" id="Password" class="form-control" placeholder="Password"> 
                </div> 

		        <label>Confirm Password</label>
                <div class="form-group pass_show"> 
                    <span> <i class="fa fa-eye-slash ptxt" id="showPass_3"   aria-hidden="true"></i></span>
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password"> 
                </div>
                

                <div class="form-group ">
                    <button id="submit" class="btn btn-primary" type="button">Reset Password</button>
                </div>

                <div class="form-group">
                     <span id="duplicate_pass"  class="alert alert-warning p-1" style="display:none">Password and confirm does not match</span>
                     <span id="empty_pass"  class="alert alert-warning p-1" style="display:none">Password or confirm password cannot be empty</span>
                    <span id="min_pass" class="alert alert-warning p-1" style="display:none">Minimum 5 charachters and 1 numeric digit required</span>
                    <span id="alpha_numeric" class="alert alert-warning p-1" style="display:none">Password must contain at least 1 numeric digits and 5 charachters</span>
                </div>
		    </div>  
	    </div>
    </div>

</div>



<script>

    $(document).ready(() => {
      
        $("#min_pass").hide();
        $("#empty_pass").hide();
        $("#duplicate_pass").hide();
        $("#notif").hide();
        $("#notif_err ").hide();
       

        $("#showPass_2").click(() => {
            let type = $("#Password").attr('type');
            if (type == 'password') {
                $('#Password').attr('type', 'text');
                $('#showPass_2').removeClass('fa fa-eye-slash ptxt');
                $("#showPass_2").addClass('fa fa-eye  ptxt-2')
            } else {
                $('#Password').attr('type', 'password');
                $("#showPass_2").removeClass('fa fa-eye  ptxt-2')
                $('#showPass_2').addClass('fa fa-eye-slash ptxt');
            }
        });
    
    
    
        $("#showPass_3").click(() => {
            let type = $("#ConfirmPassword").attr('type');
            if (type == 'password') {
                $('#ConfirmPassword').attr('type', 'text');
                $('#showPass_3').removeClass('fa fa-eye-slash ptxt');
                $("#showPass_3").addClass('fa fa-eye  ptxt-2')
            } else {
                $('#ConfirmPassword').attr('type', 'password');
                $("#showPass_3").removeClass('fa fa-eye  ptxt-2')
                $('#showPass_3').addClass('fa fa-eye-slash ptxt');
            }
        });

    });




     $(document).on('keyup','#ConfirmPassword , #Password', ()=>{
            $("#empty_pass").hide();
            $("#duplicate_pass").hide();
            $("#min_pass").hide();
            $("#alpha_numeric").hide();
     })


    $(".close").click(() => {
        $("#passreset").hide();
    })

    $("#submit").click(() => {
      
        let LoginId = $("#email").val();
        let Password = $("#Password").val();
        let ConfirmPassword = $("#ConfirmPassword").val();

         
        
        



        var letter = /[a-zA-Z]/;
        var number = /[0-9]/;
        var valid = number.test(Password) && letter.test(Password);
       

        let data = { LoginId: LoginId, Password: Password };

        if (Password.length == 0 || Password == null) {
            $("#empty_pass").show();
            return;
        }

        if (Password.length < 7) {
            $("#min_pass").show();
            return;
        }

        if (!valid) {
            $("#alpha_numeric").show();
            return;
        }

        if (Password != ConfirmPassword) {
           $("#duplicate_pass").show();
            return;
        }

        $.ajax({
            type: 'POST',
            url: "/ResetPassword/ForgetPassword",
            data: data,
            dataType: "text",
            success: function (data) {
                if (data == true || data == 'true') {
                    $("#notif").show();
                    setTimeout(function () {
                        $("#notif").hide();
                    }, 5000);
                    window.location.href = window.location.origin;
                }
                else {
                    $("#notif_err").show();
                    setTimeout(function () {
                        $("#notif_err").hide();
                    }, 5000);

                }
            }

        })
    })
</script>