@{
    ViewData["Title"] = "Reset Password";
}

@*<script src="/lib/jquery/dist/jquery.min.js"></script>*@


<style>
    #notif, #notif_err {
        position: absolute;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        top: 100px;
    }

    .email_form{
        margin-top: 100px;
    }
</style>

    <div class="d-flex justify-content-center align-items-center my-4 position-relative">
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="notif">
            <i class="fa fa-check-circle" style="font-size:22px;color:green"></i>
            <span> Mail sent succesfully</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="notif_err">
            <i class="fa fa-times-circle-o" style="font-size:22px;color:red"></i>
            <span> Something went wrong!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="text-center">
  
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="px-1 py-4 form_container">
            <div class="">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group email_form">
                            <div class="input-group">
                                <input class="form-control" id="email" type="text" placeholder="Email ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="valid" class="col-sm-12 invalid-feedback alert alert-warning p-1">
                                Email does not exists!
                            </div>
                            <div class="invalid-feedback col-sm-12 alert alert-warning p-1" id="empty_email">Email cannot be empty!</div>
                        </div>
                    </div>
                    

                </div>

                @* <p id="error" style="color:red" >Email Doesnot exists!</p>*@

                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                    <button class="btn btn-primary btn-block confirm-button" id="btn">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(() => {

        $("#valid").hide();
        $("#mailSent").hide();
        $("#empty_email").hide();
        $("#notif").hide();
        $("#notif_err").hide();
       
    })

    $(".close").click(() => {
        $("#mailSent").hide();
    })

    $("#email").keyup(() => {
        $("#valid").hide();
        $("#empty_email").hide();
    })

    $("#btn").click(() => {
        let email = $("#email").val();
        let url = window.location.origin;
        let data = { Email: email, Url: url };



        if (email.length == 0 || email == null) {
            $("#empty_email").show();
        } else {

            $.ajax({
                type: 'POST',
                url: "/ResetPassword/Index",
                data: data,
                dataType: "text",
                success: function (data) {

                    if (data == 0 || data == '0') {
                        $("#notif").show();
                        setTimeout(function () {
                            $("#notif").hide();
                        }, 2500);
                        $("#email").val("");


                    }
                    else if (data == 1 || data == '1'){
                      $("#valid").show();
                    }
                    else {
                        console.log('Something went wrong')
                        $("#notif_err").show();
                        setTimeout(function () {
                            $("#notif_err").hide();
                        }, 3500);
                    }
                   
                }

            })

        }

    })
</script>