@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Prosares.Wow.Data.Entities.EmployeeMasterEntity

<style>
    .pass_show{position: relative} 

    .pass_show .ptxt { 

        position: absolute; 
        top: 50%; 
        right: 20px; 
        z-index: 1; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    } 

    .ptxt-2{
        position: absolute; 
        top: 7%; 
        right: 20px; 
        z-index: 1; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    }


    .pass_show .ptxt:hover{color: #333333;} 

    label {
        color: white;
    }

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="main">
    <div class="container">
	    <div class="row">
		    <div class="col-sm-4">

                @if (Model.FirstLogin)
                {
		            <label>Current Password</label>
		            <div class="form-group pass_show"> 
                         <span> <i class="fa fa-eye-slash ptxt" id="showPass_1"   aria-hidden="true"></i></span>
                         <input type="password" id="CurrentPassword" class="form-control" placeholder="Confirm Password"> 
                    </div> 
                }

		        <label>New Password</label>
                <div class="form-group pass_show"> 
                      <span> <i class="fa fa-eye-slash ptxt" id="showPass_2"   aria-hidden="true"></i></span>
                      <input type="password" id="Password" class="form-control" placeholder="Confirm Password"> 
                </div> 

		        <label>Confirm Password</label>
                <div class="form-group pass_show"> 
                    <span> <i class="fa fa-eye-slash ptxt" id="showPass_3"   aria-hidden="true"></i></span>
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password"> 
                </div>
                

                <div  class="form-group">
                    <button id="submit" class="btn btn-primary" type="button">Reset Password</button>
                </div>

                <div class="form-group">
                     <span id="duplicate_pass"  class="text-danger" style="display:none">Password and confirm doesnot match.</span>
                     <span id="empty_pass"  class="text-danger" style="display:none">Password or confirm passwordcannot be empty.</span>
                     <span id="min_pass"  class="text-danger" style="display:none">Minimum 8 charachters required.</span>
                </div>
		    </div>  
	    </div>
    </div>

</div>

<script>
$(document).ready(()=>{

  // $('.pass_show').append('<span> <i class="fa fa-eye-slash ptxt"  aria-hidden="true"></i></span>');  

    $("#showPass_1").click(() => {
        let type = $("#CurrentPassword").attr('type');

       

        if (type == 'password') {
            $('#CurrentPassword').attr('type', 'text');
            $('#showPass_1').removeClass('fa fa-eye-slash ptxt');
            $("#showPass_1").addClass('fa fa-eye  ptxt-2')
        } else {
            $('#CurrentPassword').attr('type', 'password');
            $("#showPass_1").removeClass('fa fa-eye  ptxt-2')
            $('#showPass_1').addClass('fa fa-eye-slash ptxt');
        }

       
    }); 
    
    
    $("#showPass_2").click(() => {
        let type = $("#Password").attr('type');
        if (type == 'password') {
            $('#Password').attr('type', 'text');
            $('#showPass_2').removeClass('fa fa-eye-slash ptxt');
            $("#showPass_2").addClass('fa fa-eye  ptxt-2')
        } else {
            $('#Password').attr('type', 'password');
            $("#showPass_2").removeClass('fa fa-eye  ptxt-2')
            $('#showPass_2').addClass('fa fa-eye-slash ptxt');
        }
    });
    
    
    
    $("#showPass_3").click(() => {
        let type = $("#ConfirmPassword").attr('type');
        if (type == 'password') {
            $('#ConfirmPassword').attr('type', 'text');
            $('#showPass_3').removeClass('fa fa-eye-slash ptxt');
            $("#showPass_3").addClass('fa fa-eye  ptxt-2')
        } else {
            $('#ConfirmPassword').attr('type', 'password');
            $("#showPass_3").removeClass('fa fa-eye  ptxt-2')
            $('#showPass_3').addClass('fa fa-eye-slash ptxt');
        }
    });

   
  
})




 $(document).on('keyup','#ConfirmPassword , #Password, #CurrentPassword', ()=>{
        $("#empty_pass").hide();
        $("#duplicate_pass").hide();
         $("#min_pass").hide();
 })


    $("#submit").click(() => {
         let pass = $("#Password").val();
         let confirm = $("#ConfirmPassword").val();
         let current = $("#CurrentPassword").val();

        

         if (pass.length == 0 || pass == null || confirm.length == 0 || confirm == null) { 
                $("#empty_pass").show();
                return;
         }

         if (pass.length < 9 || confirm.length < 9) {
            $("#min_pass").show();
                return;
         }

         if(pass != confirm){
             $("#duplicate_pass").show();
             return;
         }

            let call = true;
            if (current== "" || current == null) {
                current = "";
            }
        let data = { Password: pass, CurrentPassword: current };
          $.ajax({
                type: 'POST',
                url: "/ChangePassword/ChangePasswordResponse",
                data: data,
                dataType: "text",
                success: function (data) {
                    console.log(data);
                    if (data == true || data == 'true') {
                        console.log("Success")
                    }
                    else {
                        console.log("Fail")
                    }
                }
           })

    })


function CheckCurrentPassword(data) {
    $.ajax({
            type: 'POST',
            url: "/ChangePassword/CheckCurrentPassword",
            data: data,
            dataType: "text",
            success: function (data) {
                console.log(data);
                if (data == true || data == 'true') {
                    return true;
                }
                else {
                    return false;
                }
            }
       })
}


</script>