@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Prosares.Wow.Data.Entities.EmployeeMasterEntity

<style>
    .pass_show{position: relative} 

    .pass_show .ptxt { 

        position: absolute; 
        top: 50%; 
        right: 20px; 
        z-index: 1; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    } 

    .ptxt-2{
        position: absolute; 
        top: 7%; 
        right: 20px; 
        z-index: 1; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    }


    .pass_show .ptxt:hover{color: #333333;} 

    label {
        color: white;
    }

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .toast {
        position: relative;
        margin: 0 auto;
        text-align: left;
        clear: left;
        height: auto;
        z-index: 1000;
    }

    .toast-header {
        background-color: cornflowerblue;
    }
</style>
 
  <div style="display: flex; align-items: center; justify-content: center;">

    <div role="alert" aria-live="assertive" aria-atomic="true" id="toast_success" class="toast" data-autohide="false">
        <div class="toast-header">

            <strong class="mr-auto">
                <span>&#10003;</span>
            </strong>

            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <strong>  Your password has been reset successfully </strong>
        </div>
    </div>  
  </div>
    



<div class="main">
    <div class="container">
	    <div class="row">
		    <div class="col-sm-4">



                @if (Model.FirstLogin == false)
                {
		            <label>Current Password</label>
		            <div class="form-group pass_show"> 
                         <span> <i class="fa fa-eye-slash ptxt" id="showPass_1"   aria-hidden="true"></i></span>
                         <input type="password" id="CurrentPassword" class="form-control" placeholder="Confirm Password"> 
                    </div> 
                }

		        <label>New Password</label>
                <div class="form-group pass_show"> 
                      <span> <i class="fa fa-eye-slash ptxt" id="showPass_2"   aria-hidden="true"></i></span>
                      <input type="password" id="Password" class="form-control" placeholder="Confirm Password"> 
                </div> 

		        <label>Confirm Password</label>
                <div class="form-group pass_show"> 
                    <span> <i class="fa fa-eye-slash ptxt" id="showPass_3"   aria-hidden="true"></i></span>
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password"> 
                </div>
                

                <div class="form-group d-flex justify-content-center align-items-center">
                    <button id="submit" class="btn btn-primary" type="button">Reset Password</button>
                </div>

                <div class="form-group">
                     <span id="duplicate_pass"  class="text-danger" style="display:none">Password and confirm doesnot match.</span>
                     <span id="empty_pass"  class="text-danger" style="display:none">Password or confirm passwordcannot be empty.</span>
                     <span id="min_pass"  class="text-danger" style="display:none">Minimum 5 charachters and 1 numeric degit required.</span>
                     <span id="alpha_numeric" class="text-danger" style="display:none"> Password must contain at least 1 numeric digit</span>
                     <span id="current_pass" class="text-danger" style="display:none">Current password doesnot match.</span>
                 </div>
		    </div>  
	    </div>
    </div>

</div>

<script>
    $(document).ready(()=>{

      // $('.pass_show').append('<span> <i class="fa fa-eye-slash ptxt"  aria-hidden="true"></i></span>');  

            $("#showPass_1").click(() => {
                let type = $("#CurrentPassword").attr('type');

       

                if (type == 'password') {
                    $('#CurrentPassword').attr('type', 'text');
                    $('#showPass_1').removeClass('fa fa-eye-slash ptxt');
                    $("#showPass_1").addClass('fa fa-eye  ptxt-2')
                } else {
                    $('#CurrentPassword').attr('type', 'password');
                    $("#showPass_1").removeClass('fa fa-eye  ptxt-2')
                    $('#showPass_1').addClass('fa fa-eye-slash ptxt');
                }

       
            }); 
    
    
            $("#showPass_2").click(() => {
                let type = $("#Password").attr('type');
                if (type == 'password') {
                    $('#Password').attr('type', 'text');
                    $('#showPass_2').removeClass('fa fa-eye-slash ptxt');
                    $("#showPass_2").addClass('fa fa-eye  ptxt-2')
                } else {
                    $('#Password').attr('type', 'password');
                    $("#showPass_2").removeClass('fa fa-eye  ptxt-2')
                    $('#showPass_2').addClass('fa fa-eye-slash ptxt');
                }
            });
    
    
    
            $("#showPass_3").click(() => {
                let type = $("#ConfirmPassword").attr('type');
                if (type == 'password') {
                    $('#ConfirmPassword').attr('type', 'text');
                    $('#showPass_3').removeClass('fa fa-eye-slash ptxt');
                    $("#showPass_3").addClass('fa fa-eye  ptxt-2')
                } else {
                    $('#ConfirmPassword').attr('type', 'password');
                    $("#showPass_3").removeClass('fa fa-eye  ptxt-2')
                    $('#showPass_3').addClass('fa fa-eye-slash ptxt');
                }
            });

   
  
        })




     $(document).on('keyup','#ConfirmPassword , #Password, #CurrentPassword', ()=>{
            $("#empty_pass").hide();
            $("#duplicate_pass").hide();
             $("#min_pass").hide();
            $("#current_pass").hide();
     })


    $("#submit").click(() => {
         let pass = $("#Password").val();
         let confirm = $("#ConfirmPassword").val();
         let current = $("#CurrentPassword").val();

         var letter = /[a-zA-Z]/;
         var number = /[0-9]/;
         var valid = number.test(pass) && letter.test(pass);

       

         if (pass.length == 0 || pass == null || confirm.length == 0 || confirm == null) { 
                $("#empty_pass").show();
                return;
         }

         if (pass.length < 6 || confirm.length < 6) {
            $("#min_pass").show();
                return;
         }

       

         if(pass != confirm){
             $("#duplicate_pass").show();
             return;
         }

        if (!valid) {
            $("#alpha_numeric").show();
            return;
        }

        let call = true;
        

        let data = { Password: pass};
        if (current != "" || current != null) {
            data.CurrentPassword = current;
            console.log(data);
            let x = CheckCurrentPassword(data)
            console.log("Check Password: ",x);
            if(x == 'false' || x == false){
                return;
            }
        }
        APICall(data);

    })


    function APICall(data){
        $.ajax({
            type: 'POST',
            url: "/ChangePassword/ChangePasswordResponse",
            data: data,
            dataType: "text",
            success: function (data) {
                console.log("APICall data: ",data);
                if (data == true || data == 'true') {
                   
                    $("#toast_success").toast('show');
                    setTimeout(function () {
                        $("#toast_success").toast('hide');
                    }, 5000);
                }
                else {
                    $("#toast_error").toast('show');
                }
            }
        })
    }

    function CheckCurrentPassword(data) {
        $.ajax({
                type: 'POST',
                url: "/ChangePassword/CheckCurrentPassword",
                data: data,
                dataType: "text",
                success: function (x) {
                    console.log("Data Check",x);
                    if (x == true || x == 'true') {
                        console.log(data)
                       APICall(data);
                    }
                    else {
                        $("#current_pass").show();
                    }
                }
           })
    }


</script>